/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width:75%;
  margin-left:5px;
}

html, body, main {
    height: 100%;
}

body {
    background-color: black;
    color:blanchedalmond;
}

#menu {
    margin-left: 15px;
}